/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 100%;
    text-align: center;
}

/* The Close Button */

.close-access {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-access:hover,
.close-access:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.amen-modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 100%;
    height: 50%;
    text-align: center;
}

.apart-modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 100%;
    height: 50%;
    text-align: center;
}

.close-amen {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-amen:hover,
.close-amen:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close-apart {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-apart:hover,
.close-apart:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ContentContainer {
    position: relative;
    display: block;
    background-color: #00b5cc;
    z-index: 1;
}

.Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
}

img {
    object-fit: cover;
}

.ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2.01);
    background: url('img/Hero-4.jpg') no-repeat center center;
    background-color: rgb(250, 228, 216);
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}